/* Меню Навигации Мобильная версия */

.header-menu {
  display: block;

  padding-top: 20vw;

  position: absolute;

  width: 100vw;
  height: 100vw;

  top: 0px;
  right: 0px;

  background-color: var(--background);
}

/* Кнопка открытия меню */

.header-menu-open-box {
  display: block;
  position: absolute;

  top: 8vw;
  right: 5vw;
}

.header-menu-open-icon {
  display: block;

  width: 5vw;
  height: 5vw;

  cursor: pointer;

  fill: var(--icon);

  &:hover,
  :focus {
    fill: var(--hover);
  }
}

/* Кнопка закрытия */

.header-menu-close-box {
  display: block;
  position: absolute;

  top: 8vw;
  right: 5vw;
}

.header-menu-close-icon {
  display: block;

  width: 5vw;
  height: 5vw;

  cursor: pointer;

  fill: var(--icon);

  &:hover,
  :focus {
    fill: var(--hover);
  }
}

/* Меню */

.header-menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6.5vw;
}

/* Навигация */

.header-menu-nav {
  display: block;
}

.header-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.5vw;
}

.header-menu-nav-item {
}

.header-menu-nav-link {
  cursor: pointer;
  color: var(--text);

  &.accent {
    color: var(--accent);
  }

  &:hover,
  :focus {
    color: var(--hover);
  }
}

/* Сылки на социальные сети */

.header-menu-social-list {
  display: flex;
  gap: 3.2vw;
}

.header-menu-social-item {
  display: block;
}

.header-menu-social-link {
}

.header-menu-social-icon {
  display: block;

  width: 5.75vw;
  height: 5.75vw;

  cursor: pointer;

  fill: var(--icon);

  &:hover,
  :focus {
    fill: var(--hover);
  }
}
