.header {
}

.header-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-link {
  display: inline-block;
}

.header-logo {
  display: block;

  height: 18vw;

  fill: var(--icon);
}

.header-logo-icon {
}

.header-menu-open-box {
  display: block;
  position: absolute;

  top: 8vw;
  right: 5vw;
}

.header-menu-open-icon {
  display: block;

  width: 5.75vw;
  height: 5.75vw;

  cursor: pointer;

  fill: var(--icon);

  &:hover {
    fill: var(--hover);
  }
}
