.header {
  display: block;

  position: relative;
}

.header-box {
  display: flex;
  justify-content: center;
}

/* Меню мобильная версия */

// .menu-icon {
//   &:hover {
//     animation: animOpemMenu 300ms linear 1;
//   }
// }

// @keyframes animOpemMenu {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(180deg);
//   }
// }

//Кнопка закрытия меню

// .header-menu-close-box {
//   display: block;
//   position: absolute;

//   top: 8vw;
//   right: 5vw;
// }

// .header-menu-close-icon {
//   display: block;

//   width: 5.75vw;
//   height: 5.75vw;

//   cursor: pointer;

//   border: 1px solid var(--icon);
//   border-radius: 50%;

//   fill: var(--icon);
// }

// Собственно само меню
// .header-menu {
//   display: block;
//   position: relative;

//   top: 0px;
//   right: 0px;
// }

// .header-menu-box {
//   display: block;

//   position: absolute;

//   top: 0px;
//   right: 0px;

//   width: 100vw;
//   height: 100vh;

//   z-index: 10;

//   background-color: var(--background);

//   &.open {
//     animation: animateOpenMenuBox 300ms ease-in-out forwards;
//   }

//   &.close {
//     animation: animateCloseMenuBox 300ms ease-in-out forwards;
//   }
// }

// @keyframes animateOpenMenuBox {
//   0% {
//     width: 0;
//   }

//   100% {
//     width: 100%;
//   }
// }

// @keyframes animateCloseMenuBox {
//   0% {
//     width: 100%;
//   }

//   100% {
//     width: 0;
//   }
// }

// .is-hidden {
//   display: none;
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .header-menu-nav {
// }
