.prodject {
}

.prodject-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // gap: 8vw;
}

.prodject-item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 8vw;
  }
}

.prodject-img {
  display: block;
  width: 100%;

  margin-bottom: 2.5vw;
}

.prodject-caption {
  display: flex;
  justify-content: center;
}
